
@{
    ViewData["Title"] = "Cheese Add";
    Layout = null;
}

<h1>Add Cheese</h1>

@* When you are submitting data that will change the state of data you should put it as a post *@ 
<form method="post">

    <input name="name" type ="text" />
    <input type="submit" value="Add Cheese" />

</form>

